:root {
    --circle-width: 75px;
    --circle-height: 75px;
    --circle-radius: 37.5px;
}

.download-btn {
    border: 2px solid #fff;
}

.download-btn:hover {
    border: 2px solid #fff;
    background-color: white;
}

.download-btn span {
    color: #fff;
}

.download-btn:hover span {
    color: black;
}

.banner-text-container {
    -webkit-box-shadow: -4px 0px 5px 0px rgba(11,78,212,1);
    -moz-box-shadow: -4px 0px 5px 0px rgba(11,78,212,1);
    box-shadow: -4px 0px 0px 0px #fff;
    padding-left: 20px;
    /* padding: 10px */
}

.banner-text-container p {
    font-weight: 600;
    font-size: 22px;
}

.banner-text-container h3 {
    font-weight: 100;
    font-size: 28px;
    color: green;
}

.banner-text-container button {
    border: 2px solid white
}

.distorted-object {
    /* margin: 10px; */
    margin-top: 10px;
    background: url(./img.jpg) no-repeat center;
    background-size: contain;
    width: 360px;
    height: 360px;
    clip-path: polygon(4% 15%, 22% 27%, 10% 10%, 27% 24%, 15% 5%, 31% 20%, 21% 3%, 36% 17%, 26% 0, 43% 13%, 100% 61%, 81% 54%, 98% 83%, 71% 57%, 89% 87%, 63% 64%, 76% 92%, 51% 67%, 62% 97%, 9% 23%);
    /* clip-path: polygon(60% 12%, 86% 19%, 88% 66%, 76% 86%, 50% 100%, 6% 89%, 18% 51%, 9% 25%, 36% 4%); */
}


.circle {
    width: var(--circle-width);
    height: var(--circle-height);
    border-radius: var(--circle-radius);
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 3px #202424;
    -moz-box-shadow: 0px 0px 5px 3px #202424; 
    box-shadow: 0px 0px 7px 1px #808080;
}

.line {
    border: 1px solid #fff;
    width: 100%;
    height: 0px;
    /* margin: auto; */
    /* margin-right: 5%; */
    /* margin-left: 5%; */
}

.diag-up {
    transform:rotate(340deg);
}

.diag-down {
    transform:rotate(20deg);
}






